<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author</title>
    <style>
        body {font-family : calibri; font-size: 14pt; }
        h2 {color:blue;}
    </style>
</head>
<body>
    <h2>AUTHORS:</h2>
    {% if authors %}
    <table cellpadding="5px" border="1">
        <tr style="background-color: rgb(6, 25, 41); color: rgb(224, 208, 208);">
           <th>ID</th>
           <th>FULLNAME</th>
           <th>email</th>
           <th>mobile</th>
        </tr>
        {% for author in authors %}
        <tr>
           
             {% for col in author %}
            <td>{{col}}</td>
            {% endfor %}
        
        <!--alternatively inside this tr tag just do this instead of above loop:
        <td>{{author.0}}</td>
        <td>{{author.1}}</td>
        <td>{{author.2}}</td>
        <td>{{author.3}}</td> 
        -->
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>sorry no info !!</h3>
    {% endif %}
    <br>
    <a href="/basics/add_author/">GO to ADD AUTHORS</a>
   
</body>
</html>